*{
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    width: 80%;
    height: auto;
    background: white url("img/player.png")  no-repeat;
    background-position: 20% -16%;
    background-size: 70%;
}

.left{
    position: absolute;
    top: 63px;
    float: left;

}

li {
    list-style-type: none;
}

ul.topmenu {
    float: left;
}

ul.topmenu > li {
    position:relative;
    width: 200px;
    left: 40px;

}

ul.topmenu a {
    color:black;
    display:none;
    white-space:normal;
    padding: 8px 30px;
    background:white;
    text-decoration:none;
    cursor:pointer;
}

ul.labelmenu li:hover > ul.topmenu a{
    display:block;
}

ul.topmenu a:hover {
    background: lightgreen;
}

ul.menu {
    width: 200px;
    display:none;
    position:absolute;
    left:100%;
    top: 0;
}
ul.topmenu li:hover > a {
    background:lightgreen;
}
ul.topmenu li:hover > ul.menu{
    display:block;
}

ul.menu li .sub {
    position: absolute;
    top: 0;
    left: 100%;
    background:white;
    bottom:0;
    display: none;
}

ul.menu li:hover .sub {
    display: block;
}
